.header {
    position: relative;
    height: 70px;
    width: 100%;
    background: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header:before{
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 100%;
    background: #231f20;
    width: 100vw;
    transform: translate(-50%, 0);
}

.logo {
    z-index: 10;
    position: relative;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.loginBlock{
    z-index: 1;
    color: #fff;
}
.loginBlock a{
    color: #fff;
}
